html{
            background:purple;
}
h1{
    color:red;
}
body{
    text-align:center;
}
img{
    width:520px;
}
    h1{font-family: 'Kumar One Outline', cursive;}
h2{font-family: 'Anton', sans-serif;
    color:yellow;}
   
